
body {font-family: Georgia, 'Times New Roman', Times, serif;
      margin: 0;
      padding: 0;
      background-color: #fff;
      color: #333;}

header {background-color: #f4e6e6;
        text-align: center;
        position: relative;}

.caja h1{color: #b06e6e;
         margin: 10px;
         font-size: 2em;/*1em = al tamaño de fuente actual del elemento que lo contiene*/}

.caja {display: flex;
       align-items: center;
       justify-content: flex-start;
       gap: 20px; /* separación entre logo y h1 */
       padding: 10px 20px;}

.logo img { max-height: 80px;
            height: auto;
            width: auto;
            border-radius: 50%;
            box-shadow: 5px 5px 10px rgb(99, 97, 97), -5px -5px 10px gray;}

nav {margin: 20px auto;
     padding: 10px;    
     max-width: auto;
     height: auto;}

nav a{display: inline;
      padding: 5px;}

.boton{cursor: pointer;
       text-decoration: none;
       font-size: 20px;
       border-radius: 15px;
       border: none;
       background-color: #ececec;
       box-shadow: 5px 5px 10px rgb(99, 97, 97), -5px -5px 10px gray;}

.boton a{font-size: medium;}

.boton:active{box-shadow: inset 5px 5px 10px rgb(141, 140, 140), inset -5px 10px rgb(150, 144, 144);}

.google_translate_element


section{padding: 40px;}




